<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="js/common.js" charset="utf-8"></script>
    <style type="text/css">

		</style>
    <title>Main</title>
  </head>
  <body>
    Hey, this is index page
    <button id="search">DB 조회</button>
  </body>

  <script>
  (function () {
    var searchButton = document.querySelector("#search");
    searchButton.addEventListener("click", function(e) {
      var params = {};
      params.code = "A";
      params.name = "테스트";

      params.list = ['asdad', "vsvsdvsv"];
      params.kang = {'zxc' : "zcc", 'qwe' : "qweqwe"};
      params.kang2 = {'zxc' : "zcc", 'qwe' : "qweqwe"};

      common.ajax('/search11', params, "post");
      
    });
  })();
  </script>

</html>