<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="js/common.js" charset="utf-8"></script>
    <style type="text/css">

		</style>
    <title>Main</title>
  </head>
  <body>
  <table style="width:100%">
    <tr>
      <td>id</td>
      <td><input type = "text" id="userId"><button id="check" onclick="idCheck()" >id check</button></td>
    </tr>
    <tr>
      <td>pss</td>
      <td><input type = "text"></td>
    </tr>
    <tr>
      <td>name</td>
      <td><input type = "text"></td>
    </tr>
    <tr>
      <td>phone</td>
      <td><input type = "text"></td>
    </tr>
    <tr>
      <td>email</td>
      <td><input type = "text"></td>
    </tr>
    <tr>
      <td>birthday</td>
      <td><input type = "text"></td>
    </tr>

  </table>
  </body>

  <script>
  function idCheck(){
    var userId = document.getElementById("userId").value;
    console.log(userId);

  }


  /*(function () {
    document.querySelector("#search").addEventListener("click", function(e) {
      common.ajax('/search', null, "get").then(function (result) {
          console.log(result);
      });
    });

    document.querySelector("#search2").addEventListener("click", function(e) {
      var params = {};
      params.title = "장동복";
      params.content = "몰라";

      common.ajax('/search2', params, "get").then(function (result) {
        console.log(result);
      });

    });

    document.querySelector("#search3").addEventListener("click", function(e) {
      var params = {};
      params.title = "장동복";
      params.content = "휴";

      common.ajax('/search3', params, "post").then(function (result) {
        console.log(result);
      });

    });
  })();*/
  </script>

</html>